$bg-color: #c5e4e7;
$black: #000;
$white: #fff;
$btn-bg: #00474b;
$text-color: #5e7a7d;
$cyan: #26c2ae;
$warning-color: #e17457;
$h1-color: #3d6666;
$person-color: #7f9d9f;
$input-color: #f3f9fa;
$desktop: 1024px;
