* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #f3f9fa;
  text-align: right;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-right: 18px;
  &::-webkit-input-placeholder {
    color: #00474b;
  }
  &::-moz-placeholder {
    color: #00474b;
  }
  &:-ms-input-placeholder {
    color: #00474b;
  }
  &::-ms-input-placeholder {
    color: #00474b;
  }
  &::placeholder {
    color: #00474b;
  }
}
